@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                <a href="/tickets" class="list-group-item list-group-item-action">Listado de Tickets</a>
                <a href="/ticket/create" class="list-group-item list-group-item-action">Crear Ticket</a>
                <a href="/login" class="list-group-item list-group-item-action">Login</a>
                <a href="/register" class="list-group-item list-group-item-action">Registrar Usuario</a>
                @if (AuthService.IsUserAuthenticated)
                {
                    <a href="/" class="list-group-item list-group-item-action" @onclick="Logout">Cerrar Sesión</a>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync(); // Llama al método de Logout en el servicio
        Navigation.NavigateTo("/login"); // Redirige a la página de login
        StateHasChanged();
    }
}
