@inject AuthService AuthService
@inject NavigationManager Navigation

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/tickets">Listado de Tickets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ticket/create">Crear Ticket</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/register">Registrar Usuario</a>
    </li>
    @if (AuthService.IsUserAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="/" @onclick="Logout">Cerrar Sesión</a>
        </li>
    }
</ul>


@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync(); // Llama al método de Logout en el servicio
        Navigation.NavigateTo("/login"); // Redirige a la página de login
        StateHasChanged();
    }
}
