@page "/"

<PageTitle>TicketTool</PageTitle>

<h1 style="text-align: center; font-size: 3em;">TicketTool</h1>

<img src="css\Images\logo.png" alt="Bienvenida a TicketTool" style="display: block; margin: 0 auto; width: 200px; height: 200px;" />

<p style="text-align: center;">
    Esta aplicación está diseñada para ayudar a gestionar y organizar tickets de soporte de manera eficiente.
    Con características que permiten crear, ver, editar y eliminar tickets, nuestro objetivo es facilitar la
    resolución de problemas y mejorar la comunicación entre los departamentos.
    Ya sea que estés reportando un problema o haciendo seguimiento a un ticket existente, aquí encontrarás
    todas las herramientas necesarias para una experiencia fluida.
</p>
